@import "variables.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    color: $white;
    font-family: $title-font;
}

.navbar-links {
    font-family: $paragraph-font;
    font-size: 14px;
    letter-spacing: .1rem;
ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
li {
    list-style: none;
}
li:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
    padding: 1rem;
}

li a {
    display: block;
    color: $white;
}
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

    .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
}

main {
    background-image: url('/assets/section1_header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

h1 {
    font-family: $title-font;
    color: $white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .3rem;
    font-smooth: 10rem;
    height: 25vh;   
}

.container {
    @include flexbox;
}








@media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links{
        display: none;
        width: 100%;
        ul {
            width: 100%;
            flex-direction: column;
        }
        li {
            text-align: center;
        }
        a {
            padding: .5rem 1rem;
        }
    }
    .navbar-links.active {
        display: flex;
    }
}


