@import "variables.scss";

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: $white;
  font-family: $title-font;
}

.navbar-links {
  font-family: $paragraph-font;
  font-size: 14px;
  letter-spacing: 0.1rem;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  li {
    list-style: none;
  }
  li:hover {
    cursor: pointer;
  }

  li a {
    display: block;
    color: $white;
  }

  a {
    text-decoration: none;
    padding: .6rem;

  }
  button {
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-family: $title-font;
    background-color: white;

    a {
      text-decoration: none;
      color: $dark-blue;
    }
    a:hover {
      color: $white;

    }

  }
}

button:hover {
  background-color: $white;
  opacity: 0.2;
  
  a:hover {
    color: $white;
  }
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}

main {
  background-image: url("/assets/section1_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

h1 {
  font-family: $title-font;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.3rem;
  font-smooth: 10rem;
  height: 25vh;
}

.arrow {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.grid-item {
  text-align: center;
}

#grid-item-paragraph,
#grid-item-paragraph-1 {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  padding: 4rem;
  text-align: left;

  h2 {
    font-family: $title-font;
  }

  p {
    font-family: $paragraph-font;
    color: $dark-grey;
  }
}

#grid-pic {
  position: relative;

  .pic-info {
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 15px 15px;
    display: block;
  }

  h4 {
    font-family: $title-font;
    font-size: 17px;
  }
  p {
    font-family: $paragraph-font;
    font-size: 15px;
    color: $dark-grey;
  }
}

.section5 {
  padding: 1rem;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-family: $title-font;
  font-size: 2rem;

  h5{
    color: rgb(150, 150, 150);
    letter-spacing: 5px;
    text-transform: capitalize;
    padding-top: 3rem;
  }
}

.container-testimonials {
  display: flex;
  gap: 1.8rem;
  padding: 3rem 0rem;

  .person-testimonial {
    display: flex;
    flex-direction: column;
  }

  #inline-testimonials {
    display: block;
  }

  .person-img {
    border-radius: 50%;
    height: 5rem;
  }

  p {
    font-family: $paragraph-font;
    color: $dark-grey;
    font-size: 12px;
    text-align: center;
  }

  .name {
    display: inline-block;
    font-family: $title-font;
    color: rgb(35, 35, 35);
  }
  .testimonial-name{
    display: block;
  }
}

/// Having problems here with picture 2 and three

.section6 {
  display: grid;
  grid-template-columns: auto auto auto auto;

  .section6-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section7 {
  background-color: rgb(152, 218, 206);

  h6 {
    font-size: 23px;
    text-align: center;
    color: rgb(48, 117, 102);
    margin: 0;
    padding-top: 2rem;
  }

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-family: $paragraph-font;
    padding: 3rem;

    a {
      text-decoration: none;
      color: $dark-blue;
      transition: 1s;
      color: rgb(48, 117, 102);
    }

    a:hover {
      color: white;
    }
  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding-bottom: 1.5rem;
  }
}

.attribution {
  font-family: $paragraph-font;
  font-size: 13px;
  color: $dark-grey;

  a {
    text-decoration: none;
    color: $dark-blue;
  }
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    display: none;
    width: 100%;
    ul {
      width: 100%;
      flex-direction: column;
    }
    li {
      text-align: center;
    }
    a {
      padding: 0.5rem 1rem;
    }
  }
  .navbar-links.active {
    display: flex;
  }

  .grid-container {
    grid-template-columns: auto;
  }
  .container-testimonials {
    display: flex;
    flex-direction: column;
}
.section6 {
  grid-template-columns: auto auto;
}
}
