@import "variables.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
li {
    list-style: none;
}
li:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
    padding: 1rem;
}

li a {
    display: block;
}
}


