@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

// Fonts
$title-font: 'Fraunces', serif;
$paragraph-font: 'Barlow', sans-serif;

// Primary Colors
$learn-more-yellow: hsl(51, 100%, 49%);
$learn-more-red: hsl(7, 99%, 70%);
$graphic-design-text: hsl(167, 40%, 24%);
$photo-text: hsl(198, 62%, 26%);
$footer-color: hsl(168, 34%, 41%);

//Secondary Colors
$dark-blue: hsl(212, 27%, 19%);
$dark-grey: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//mixin flexbox
@mixin flexbox {
    display: flex;
    flex-direction: row;
}